/* Main Pages Styles */

html{
    margin: 15px;
}
.my-navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    list-style-type: none;
}
ul > li{
    margin: 10px;
}
a:link{
    text-decoration: none;
}
.contenedor{
    height: 400px;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}