/* General Styles */

html {
    margin: 15px;
}
.my-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    list-style-type: none;
}
ul > li {
    margin: 10px;
}
a:link {
    text-decoration: none;
}
.contenedor {
    height: 400px;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}
.center-div {
    display: flex;
    justify-content: center;
    margin: 25px;
}

/* Home Page Styles */ 

.btn {
    background-color: #999696;
    color: #e8eaed;
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
@media screen and (min-width: 700px) {
    .google-img {
        max-width: 600px;
    }
}

/* Advanced Search Styles */
.advanced-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f28b82;
}
.h2-advanced {
    font-size: 1.2rem;
    color: #333333;
    margin-bottom: 20px;
}
.block-search {
    margin: 40px;
}
.row-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
    margin: 10px;
}
.instructions {
    width: 250px;
    margin: 0;
}
.instructions p {
    margin: 0;
}
.input input {
    width: 450px;
}
.advanced-button {
    display: flex;
    justify-content: flex-end;
    width: 710px;
    margin-top: 30px;
}
@media screen and (max-width: 560px) {
    .input {
        max-width: 400px;
    }
}